html, body, #root, .main {
    height: 80%;
    text-align: center;
  }

.card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    padding: 25px;
    
}

.product-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 25px;
}

.product {
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    margin: 15px;
}

.product-buttons {
    display: flex;
    flex-direction: column;
}

.product input {
    width: 60%;
}

.product .content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product .decrement {
    cursor: pointer;
    font-size: 21px;
    padding: 7px;
    background-color: red;
    border: none;
    border-radius: 70px;
    width: 40px;
    margin-left: 15px;
}

.increment{
    font-size: 21px;
    cursor: pointer;
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 15px;
    background-color: rgb(55, 204, 25);
    color: black;
    align-self: center;
    margin-top: 20px;
}


input {
    border-radius: 20px;
    border: 1px solid black;
    padding: 7px;
    margin: 10px;
}

.submit {
    font-size: 15px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    padding: 10px;
    width: 100px;
    border-radius: 15px;
    background-color: rgb(73, 107, 216);
    color: whitesmoke;
    align-self: center;
    margin: 20px 0;
}


.guests{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
    border-radius: 15px;

}

.bill{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}


.final-button{
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(110, 42, 165);
    padding: 20px;
    font-weight: bold;
    color: whitesmoke;
    margin-bottom: 20px;
    
}

.guest-pay {
    display: flex;
    flex-direction: column;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
}